<h2>タイトル</h2>
<p><%= @article.title %></p>
<h2>本文</h2>
<p><%= @article.body %></p>
<h2>天気</h2>
<p><%= @article.weather %></p>
<h2>画像</h2>
<%= attachment_image_tag @article, :image, :fill, 300, 300, format: 'jpeg' %>

<%= link_to "編集する", edit_article_path(@article.id) %>
<%= link_to "一覧へ戻る", articles_path %>
<%= link_to "削除", destroy_article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>